body {
    text-align: center;
    background-color: lightslategrey;
    color: white;
}

/*select {*/
    /*color: black;*/
/*}*/

/*option {*/
    /*color: black;*/
/*}*/

/*body {*/
    /*background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/gridme.png');*/
/*}*/

/*label {*/
    /*color: black;*/
/*}*/